@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

.container{
  font-family: 'Lato', sans-serif;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: 
  "nav nav"
  "imageOne imageOne"
  "slideTwo slideTwo"
  "footer footer";
  grid-gap: 15px;
  background-color: rgb(0, 0, 0);
}

.nav{
  grid-area: nav;
  background-color: rgb(247, 110, 86);
  padding: 20px;
}

.nav li{
  display: inline;
  padding: 30px;
}

.nav a {
  color: white;
}

.imageOne{
  grid-area: imageOne;
  background-color: rgb(233, 62, 32);
  padding: 15px;
}

.slideTwo{
  grid-area: slideTwo;
  background-color: rgb(241, 65, 53);
  padding: 20px;
  color: white;
}

.footer{
  grid-area: footer;
  background-color: rgb(211, 51, 30);
  padding: 15px;
  color: white;
}

