@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

.container{
  font-family: 'Lato', sans-serif;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: auto;
  grid-template-areas: 
  "nav nav"
  "profile slideOne"
  "slideTwo slideTwo"
  "footer footer";
  grid-gap: 15px;
  background-color: rgb(0, 0, 0);
}

.profile {
grid-area: profile;
padding: 8px;
}

.nav{
grid-area: nav;
background-color: rgba(243, 97, 243, 0.849);
padding: 25px;
}

.nav li{
  display: inline;
  padding: 30px;
}

.nav a {
  color: white;
}

.slideOne{
grid-area: slideOne;
background-color: rgba(143, 67, 214, 0.637);
padding: 12px;
color: white;
}

.slideTwo{
grid-area: slideTwo;
background-color: rgb(211, 56, 241);
padding: 26px;
color: white;
}

.footer{
grid-area: footer;
background-color: rgb(201, 67, 160);
padding: 24px;
color: white;
}