.container{
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: auto;
  grid-template-areas: 
  "nav nav"
  "profile slideOne"
  "slideTwo slideTwo"
  "footer footer";
  grid-gap: 15px;
  background-color: white;
}

.profile {
background-image: url("island.jpg");
grid-area: profile;
padding: 10px;
}

.nav{
grid-area: nav;
background-color: rgba(255, 238, 4, 0.849);
padding: 25px;
}

.nav li{
  display: inline;
  padding: 30px;
}

.slideOne{
grid-area: slideOne;
background-color: rgba(129, 173, 240, 0.637);
padding: 24px;
}

.slideTwo{
grid-area: slideTwo;
background-color: rgb(18, 230, 88);
padding: 40px;
}

.footer{
grid-area: footer;
background-color: rgb(201, 67, 160);
padding: 40px;
}